.button_component {
    width: 158px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 1.04%,
        rgba(0, 0, 0, 0.2) 100%),
        var(--main-color);

    box-shadow:0px 4px 0px#261817;
}