
.modal-overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    
    background: white;
    width: 50%;
    min-height: fit-content;
    height: 40%;
    padding: 1rem;
    border-radius: 1rem;
  }

  .input {

    background-color: var(--second-color);
 
resize: none;
    border-radius: 15px;
    border: none;
    height: 150px;
    width: 100%;

}

.title{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.modal {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.close {
  font-weight: bold;
  border: none;
  background-color: var(--second-color);
  border-radius: 15px;
  align-self: flex-end;
  margin-top: -10px;
  margin-right: -10px;
  height: 30px;
  width: 30px;
}
