
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #b40000;
}
