
.searchBar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.reset_search {
  background-color: #7d7979;
  font-weight: bold;
  border: none;

  align-self: flex-end;
  margin-top: -10px;

  margin-left: 5px;
   
  height: 30px;
  width: 30px;
  
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.reset_search:hover {
  background-color: #5b5757;
}
.searchBar_input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
 
}