.tweet {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  
  .tweet-username {
    font-weight: bold;
    cursor: pointer;
  }
  .tweet-username:hover{
    text-decoration: underline;
  }
  
  
  
  .tweet-text {
    margin:0;
  }

  .tweet-tags {
    margin-bottom: 5px;
  }
  
  .tweet-reply-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .tweet-reply-button:hover {
    background-color: #3e8e41;
  }
  .retweet-username{
    font-weight: bold;
    cursor: pointer;
}
.retweet-username:hover{
    text-decoration: underline;
   
}

 .retweet-header {
  margin-bottom: 5px;
 }


.tweet-border.retweeted {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}