.box {
    
    background: white;
    width: 30%;
   
    height: 70%;
    padding: 1rem;
    border-radius: 1rem;
  }

 .users {
 height: 100%;
 width: 100%;
  margin-left: 5px;

  
  display: flex;
  flex-direction: column;
  
 height: 100%;
 overflow-y: auto;
 }
 .user{
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    cursor: pointer;
   
 }

 .user:hover{
    background-color: rgb(212, 204, 204);
    
 }

 .eye{
    width: 25px;
 height: 25px;
  margin-right: 5px;
 }