
.body {
  padding: 10px;
  display: flex;
  flex-direction: row;
 
  justify-content: space-between;
height: 70vh;
 

}
.tweets {
  height: 100%;
  padding:  10px;
  border: 1px solid black;
  flex : 4;
  overflow-y: auto;
}


.topics {
  flex : 1;
  margin-left: 5px;
 padding:  10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  
 height: 100%;
 overflow-y: auto;


}
.title_topics {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.topic {
  display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    cursor: pointer;
    
}
.topic:hover{
  background-color: rgb(212, 204, 204);
  
}
.liste_topics{
  margin-top: 10px;
  overflow-y: auto;
}





.topic_btn{
  
 width: 25px;
 height: 25px;
  margin-right: 5px;
}



.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}


.center {
  
  text-align: center;
  
  margin: auto;
 
}

.deconnexion_btn {
 margin-right: 10px;
  
}
.left {
  width: 158px;
    height: 40px;
    margin-left: 10px;
}

.find-user-btn{
  min-width: fit-content;
}

.big-searchBar{ padding-left: 10px; padding-right: 10px; }