.connexion_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

.connexion_form {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f0eaea;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    padding-bottom: 10px;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .connexion_form {
        width: 80%; /* use the same width as the registration form */
    }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
    .connexion_form {
        width: 50%; /* use the same width as the registration form */
    }
}

/* For screens larger than 1024px */
@media (min-width: 1024px) {
    .connexion_form {
        width: 40%; /* use the same width as the registration form */
    }
}

.button_connexion{
    min-width: fit-content;
    background-color: green
}
.button_connexion:hover {
    background-color: rgb(6, 85, 6);
  }
  